header { background-color: yellow ; }
nav { text-align: left }
footer { background-color: black ; color : white }
section#mainContent {
	 background-color: lightblue;
	 border-color: blue ; border-width : 2px; border-style: solid;
}
